@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Work+Sans&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
	font-family: "Work Sans", sans-serif;
}
h1,
h5 {
	font-family: "Bitter", serif;
	font-weight: 700;
}

.navbar {
	position: sticky;
	z-index: 999;
	top: 0;
	padding: 5px;
	box-shadow: 2px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.nav-container {
	max-width: 1200px;
}
.navbar-brand > img {
	height: 20px;
}
.navbar-toggler {
	border: none;
	width: 20px;
	padding: 0;
}
.navbar-toggler-icon {
	width: 20px;
}
.navbar-nav {
	margin: auto;
}

.nav-icons > img {
	height: 20px;
	margin: 5px;
}
.nav-link {
	padding: 20px;
}

.main-page {
	max-width: 1200px;
	overflow: hidden;
	/* padding: 20px; */
}
.btn-to-top {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
	position: fixed;
	bottom: 60px;
	right: 40px;
	z-index: 99;
	padding: 5px;
	border-radius: 50%;
}
.btn-to-top > img {
	height: 15px;
}

/* Banner */
.banner {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: 0;
}
.banner-2 {
	border-right: 10px solid transparent;
}
.banner-3 {
	border-left: 10px solid transparent;
}
.banner > img {
	width: 100%;
	height: auto;
	transition: all 0.3s;
}
.banner:hover > img {
	transform: scale(1.05);
	opacity: 0.7;
}
.description {
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 35%;
	transform: translateX(-50%);
	max-width: 400px;
	text-align: center;
}
.description > a {
	/* display: inline-block; */
	padding: 8px 25px;
	background-color: #323232;
	color: white;
	text-decoration: none;
	display: inline-block;
	margin-top: 30px;
}
.btn-banner {
	height: 60px;
	width: 350px;
	font-family: "Bitter", serif;
	font-weight: 700;
	background-color: white;
	position: absolute;
	left: 50%;
	bottom: 25px;
	transform: translateX(-50%);
	border: none;
	font-size: 20px;
	font-weight: 700;
}

/* Featured Product */
.feature {
	position: relative;
	cursor: pointer;
}
.feature > img {
	width: 100%;
	height: 100%;
	transition: all 0.2s;
}
.feature:hover > img {
	/* filter: opacity(0.3); */
	opacity: 0.2;
}
.feature-page > span {
	text-align: center;
	margin: 20px;
}
.feature-container {
	justify-content: space-between;
}
.feature-img-container {
	padding: 0;
}
.feature-des {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	text-align: center;
	font-size: 0.8rem;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	/* background-color: red; */
}
.feature-des > * {
	margin-bottom: 5px;
}
.rate-stars {
	transition: all 0.3s;
	transform: translateY(15px);
	margin: 10px;
}
.rate-stars > img {
	height: 15px;
}

.shopping-icon {
	height: 35px;
	width: 35px;
	background-color: black;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2px;
	transition: all 0.3s;
	transform: translateY(15px);
}
.shopping-icon > img {
	height: 20px;
}
.feature:hover > .feature-des {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, 0);
}
.feature:hover .rate-stars,
.feature:hover .shopping-icon {
	transform: translateY(0);
}

/* Avone Page */
.avone-page > span {
	text-align: center;
	margin: 50px;
}

.avone-img {
	border: 5px solid transparent;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.avone-img:hover > .avone-product {
	transform: scale(1.1);
}
.avone-product {
	transition: all 0.8s;
	width: 100%;
}
.ig-icon {
	position: absolute;
	height: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: all 0.2s;
}
.avone-img:hover .avone-product {
	filter: brightness(0.6);
}
.avone-img:hover > .ig-icon {
	transform: translate(-50%, -50%) scale(1);
}

/* Contact Page */
.contact-page > span {
	text-align: center;
	margin: 50px;
}
.form-contact {
	max-width: 400px;
	margin: auto;
}
.stay-connected {
	text-align: center;
	margin: 50px;
}
.icons-container > img {
	height: 20px;
	margin: 5px;
}

/* Footer */
.footer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	margin-top: 30px;
	padding: 15px;
	max-width: 1200px;
	margin: auto;
}
.footer-container > p {
	margin-bottom: 0;
	font-size: 0.8rem;
}

.payment-cards > img {
	height: 25px;
	width: 30px;
	background-color: white;
	border-radius: 2px;
	margin: 2px;
}

/* Responsive */
@media screen and (max-width: 992px) {
	.nav-container {
		position: relative;
	}
	.navbar-toggler {
		order: -1;
	}
	.navbar-brand {
		margin-left: 50px;
	}
	.logo-search {
		position: absolute;
		left: 40px;
		top: 6px;
	}
	.description {
		width: 40%;
	}
	.description > a {
		margin-top: 0;
	}
	.btn-banner {
		width: 70%;
	}
}

@media screen and (max-width: 780px) {
	.btn-banner {
		font-size: 1rem;
		width: 70%;
	}
	.description {
		width: 40%;
		top: auto;
		bottom: 10%;
	}
	.description > h6 {
		font-size: 1rem;
	}
	.description > h1 {
		font-size: 1.5rem;
	}
	.description > p {
		font-size: 0.9rem;
		margin-bottom: 10px;
	}
	.description > a {
		font-size: 0.9rem;
		padding: 5px 10px;
	}
	.feature-page > span,
	.avone-page > span,
	.contact-page > span {
		margin: 10px;
	}

	.feature-page > span > h5,
	.avone-page > span > h5,
	.contact-page > span > h5 {
		font-size: 1.2rem;
	}
	.feature-page > span > p,
	.avone-page > span > p,
	.contact-page > span > p {
		font-size: 0.9rem;
		margin-bottom: 10px;
	}
	.feature > img {
		height: auto;
	}

	.rate-stars,
	.shopping-icon {
		transform: translateY(0);
	}
	.feature-des {
		display: block;
		width: auto;
		opacity: 1;
		visibility: visible;
		position: static;
		transform: none;
		margin: 10px auto;
	}
	.feature:hover > .feature-des {
		transform: translate(0, 0);
	}
	.feature:hover > img {
		opacity: 1;
	}
	.footer-container {
		margin-top: 0;
		flex-direction: column;
	}
	.payment-cards {
		margin-bottom: 10px;
		order: -1;
	}
}
@media screen and (max-width: 580px) {
	.main-page {
		padding: 10px 20px;
	}
	.nav-link {
		padding: 1rem;
		font-size: 0.8rem;
	}
	.description > h6 {
		font-size: 0.8rem;
	}
	.description > h1 {
		font-size: 1.2rem;
		margin-bottom: 5px;
	}
	.description > p {
		font-size: 0.7rem;
		margin-bottom: 10px;
	}
	.description > a {
		font-size: 0.7rem;
		padding: 5px 10px;
	}
	.btn-banner {
		width: 70%;
	}
	.banner {
		border: none;
	}

	.feature-page > span > h5,
	.avone-page > span > h5,
	.contact-page > span > h5 {
		font-size: 1rem;
	}
	.feature-page > span > p,
	.avone-page > span > p,
	.contact-page > span > p {
		font-size: 0.7rem;
		margin-bottom: 10px;
	}

	/* Feature */
	.feature-des > * {
		margin: 0;
	}
	.feature-des > p {
		font-size: 0.6rem;
	}
	.shopping-icon {
		height: 25px;
		width: 25px;
	}
	.shopping-icon > img {
		height: 15px;
	}

	/* Form Contact */
	.form-contact > * {
		font-size: 0.8rem;
	}
	.footer-container > p {
		font-size: 0.8rem;
	}
	.payment-cards > img {
		height: 20px;
	}
}
@media screen and (max-width: 450px) {
	.navbar-brand > img,
	.nav-icons > img {
		height: 15px;
	}
	.nav-link {
		padding: 0.8rem;
		font-size: 0.6rem;
	}
	.logo-search {
		top: 8px;
	}
	.logo-setting {
		display: none;
	}
	.main-page {
		padding: 10px;
	}
	.description > h6 {
		font-size: 0.6rem;
		margin-bottom: 5px;
	}
	.description > h1 {
		font-size: 1rem;
		margin-bottom: 5px;
	}
	.description > p {
		font-size: 0.5rem;
		margin-bottom: 10px;
	}
	.description > a {
		font-size: 0.5rem;
		padding: 4px 8px;
	}
	.btn-banner {
		height: 50px;
		font-size: 1.1rem;
	}

	.form-contact > * {
		font-size: 0.6rem;
	}
	.icons-container > img {
		height: 15px;
	}
	.footer-container > p {
		font-size: 0.7rem;
	}
}
@media screen and (max-width: 370px) {
	.navbar-brand > img,
	.nav-icons > img {
		height: 12px;
	}
	.nav-link {
		padding: 0.6rem;
		font-size: 0.6rem;
	}

	.description > h6 {
		font-size: 0.5rem;
	}
	.description > h1 {
		font-size: 0.9rem;
		margin-bottom: 5px;
	}
	.description > p {
		font-size: 0.4rem;
		margin-bottom: 0px;
	}
	.description > a {
		font-size: 0.4rem;
		padding: 3px 6px;
	}

	.feature-des > p {
		font-size: 0.5rem;
	}

	.ig-icon {
		height: 20px;
	}

	.shopping-icon {
		height: 20px;
		width: 20px;
	}
	.shopping-icon > img {
		height: 12px;
	}
	.rate-stars > img {
		height: 10px;
	}
	.btn-banner {
		height: 40px;
		font-size: 0.8rem;
	}
	.form-contact > * {
		font-size: 0.6rem;
	}
	.footer-container > p {
		font-size: 0.6rem;
	}
	.payment-cards > img {
		height: 16px;
		width: 25px;
	}
}

.bg-animation {
	background-color: black;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	opacity: 0;
	animation: fade-out 0.7s linear;
	visibility: hidden;
}

/* Animations */
@keyframes fade-out {
	0% {
		visibility: visible;
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
